<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Highlights

    <a data-toggle="collapse" href="#trip_highlights_new_form">
      Add highlight
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.highlights.each do |highlight| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to highlight, highlight %>

        <%= link_to highlight, method: :delete, data: { confirm: "Do you really want to delete this highlight" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_highlights_new_form">
        <%= render partial: "trips/trip_highlights_new_form" %>
      </div>
    </div>

  </ul>
</div>
