<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dining, partial: "card", as: :dining %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dinings/dining_dishes" %>
  </div>
</div>
  <!-- Show Page Customization end -->
