<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @location, partial: "card", as: :location %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "locations/location_dinings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
