<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dining_experience, partial: "card", as: :dining_experience %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dining_experiences/dining_experience_dishes" %>
  </div>
</div>
